body{
    font-family: 'Montserrat';
    overflow-x: hidden;
}

.cardsContainer{
    display: flex;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 1%;
    margin-left: 5%;
    
    
}

.apiContainer{
    margin-top: 30px;
    //margin-left: 5%;
    width: 100%;
    background-color: rgb(250, 250, 250);
    padding-top: 30px;
}

.apiHeading{
    margin-left: 5%;
}